@{
    ViewBag.Title = "ConfirmProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
<div class="success">
     <h4>Status Updated and Confirmed for Project</h4>     
     <p>Enquiry status has been confirmed and sent to accounts for further processing</p>
</div>
</div>