@model BusinessFlow.Models.Enquiry

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Submit Enquiry</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Submit" class="button" />
        </p>
    </fieldset>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


