Hi @User.Identity.Name<br />
<p>
This is to inform you that we have recieved your request.
</p>
<p>
You can track your request at the website. The request number for this request is
@ViewBag.EnquiryId.
</p>
<p>
Track your request at following URL:
</p><br />
http://localhost:2974/Enquiries/Details/@ViewBag.EnquiryId

<p>
Regards<br />
<br />
Kenwood Team

</p>
