@model BusinessFlow.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Project</legend>

    <div class="display-label">Status</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Status).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


